body {
    max-width: 1366px;
    max-height: 768px;
    margin: auto;
}

main {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

#banner {
    height: 250px;
    width: 1100px;

}

#wrapper {
    justify-content: center;
}
