body {
    max-width: 1366px;
    max-height: 768px;
    margin: auto;
}

main {
    display: flex;
    list-style-type: none;
}

#banner {
    height: 250px;
    width: 1100px;

}

.wrapper {
    align-content: center;
}
