body {
    max-width: 1366px;
    max-height: 768px;
    margin: auto;
}

body main {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

header {
    align-content: center;
}



footer {
    align-content: center;
    margin: auto;
}

#banner {
    height: 250px;
    width: 1100px;
    justify-items: center;
    margin: auto;
}

#wrapper {
    justify-items: center;
}